@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../dist/output.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Serif:wght@500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
h1,
h2,
h3,
h4,
h5,
h5 {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Noto Serif', serif;
}

p {
	font-family: 'Cormorant Garamond', serif;
}

body {
	background-color: '#263c49';
}

/* launch */
.containerTextPrice {
	@apply flex justify-between;
}

/* launch width */
.widthCard {
	@apply w-[80%];
}

/* launch food */
.launchFood {
	@apply text-outerSpace text-lg font-roboto font-bold tracking-wide;
}

/* launch topping */
.launchTopping {
	@apply text-astral text-lg font-bold my-2;
}

/* launch other */
.launchOther {
	@apply text-[#9DB3BF] font-bold italic;
}

/* launch price */
.price {
	@apply w-max text-astral text-lg font-roboto font-bold;
}

/* .bg__container_login_image {
	background-image: url('https://images.squarespace-cdn.com/content/v1/62263fbc76242e02ac3caf10/1655219421472-KTB2N9P3Q0U443IO6TH1/CAC%26JTT.jpg');
	background-size: cover;
	background-position: center;
} */
